:root{
  --Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue : hsl(207, 26%, 17%);
--Very-Dark-Blue: hsl(200, 15%, 8%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
--box-shadow-light:0 .2px  3px var(--Dark-Gray);
--ff-Nunito: 'Nunito Sans', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--ff-Nunito);
}
.container{
  max-width: 1440px;
  min-height: 80vh;
  background-color: var(--Very-Light-Gray);
  padding: 30px;
   /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.Navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  position: relative;
  box-shadow:   var(--box-shadow-light);
}
.Navbar h2{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;

}


.country-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.country-card{
/* border: 1px solid grey; */
overflow: hidden;
box-shadow: var(--box-shadow-light);
display: flex;
flex-direction: column;
border-radius: 5px;
}

.country-card img{
  width: 100%;
  height: 45%;

}

.country-card-details{
  padding:30px;
}

.country-card-details p span{
  font-weight: 600;
}

